Use case 1/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "ESXI-Server",
            "type":  "string"
        }
    },
    "variables":  {
        "AzuremonitorlogsConnectionName":  "[concat('Azuremonitorlogs-', parameters('PlaybookName'))]",
        "MicrosoftSentinelConnectionName":  "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
        "TeamsConnectionName":  "[concat('Teams-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "Microsoft_Sentinel_incident":  {
                            "type":  "ApiConnectionWebhook",
                            "inputs":  {
                                "body":  {
                                    "callback_url":  "@{listCallbackUrl()}"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path":  "/incident-creation"
                            }
                        }
                    },
                    "actions":  {
                        "Add_comment_to_incident_(V3)":  {
                            "runAfter":  {
                                "Compose_-_Adaptive_card_body":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "incidentArmId":  "@triggerBody()?['object']?['id']",
                                    "message":  "\u003cp\u003eTeams message gepost om @{convertTimeZone(utcNow(), 'UTC', 'Romance Standard Time', 'dd/MM/yyyy HH:mm:ss')}.\u003cbr\u003e\n\u003cbr\u003e\nWachten op antwoord...\u003c/p\u003e"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/Incidents/Comment"
                            }
                        },
                        "Add_comment_to_incident_(V3)_3":  {
                            "runAfter":  {
                                "Add_comment_to_incident_(V3)":  [
                                    "Succeeded"
                                ],
                                "Post_adaptive_card_and_wait_for_a_response":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "incidentArmId":  "@triggerBody()?['object']?['id']",
                                    "message":  "\u003cp\u003eTeams antwoord gekregen om @{convertTimeZone(utcNow(), 'UTC', 'Romance Standard Time', 'dd/MM/yyyy HH:mm:ss')}.\u003cbr\u003e\n@{body('Post_Adaptive_Card_and_wait_for_a_response')?['responder']?['displayName']} - @{body('Post_Adaptive_Card_and_wait_for_a_response')?['responder']?['email']} antwoordde met:\u003cbr\u003e\n@{body('Post_Adaptive_Card_and_wait_for_a_response')?['data']?['onderhoudStatus']}\u003c/p\u003e"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/Incidents/Comment"
                            }
                        },
                        "Compose_-_Adaptive_card_body":  {
                            "runAfter":  {
                                "Entities_-_Get_Hosts":  [
                                    "Succeeded"
                                ],
                                "Entities_-_Get_IPs":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Compose",
                            "inputs":  {
                                "$schema":  "http://adaptivecards.io/schemas/adaptive-card.json",
                                "actions":  [
                                    {
                                        "data":  {
                                            "x":  "confirm"
                                        },
                                        "title":  "Submit response!",
                                        "type":  "Action.Submit"
                                    }
                                ],
                                "body":  [
                                    {
                                        "size":  "Large",
                                        "text":  "Server stopped sending data",
                                        "type":  "TextBlock",
                                        "wrap":  true
                                    },
                                    {
                                        "facts":  [
                                            {
                                                "size":  "medium",
                                                "spacing":  "large",
                                                "title":  "Incident Title",
                                                "value":  "@{triggerBody()?['object']?['properties']?['title']}"
                                            },
                                            {
                                                "spacing":  "Medium",
                                                "title":  "Incident ID",
                                                "value":  "@{triggerBody()?['object']?['properties']?['incidentNumber']}"
                                            },
                                            {
                                                "spacing":  "Medium",
                                                "title":  "Tijd",
                                                "value":  "@{convertTimeZone(triggerBody()?['object']?['properties']?['CreatedTimeUtc'], 'UTC', 'Romance Standard Time', 'dd/MM/yyyy HH:mm:ss')}"
                                            },
                                            {
                                                "spacing":  "Medium",
                                                "title":  "Severity",
                                                "value":  "@{triggerBody()?['object']?['properties']?['severity']}"
                                            },
                                            {
                                                "spacing":  "Medium",
                                                "title":  "Description",
                                                "value":  "@{triggerBody()?['object']?['properties']?['description']}"
                                            },
                                            {
                                                "spacing":  "Medium",
                                                "title":  "Server",
                                                "value":  "@{body('Entities_-_Get_Hosts')?['Hosts']?[0]?['hostName']}"
                                            },
                                            {
                                                "spacing":  "Medium",
                                                "title":  "IP",
                                                "value":  "@{body('Entities_-_Get_IPs')?['IPs']?[0]?['address']}"
                                            }
                                        ],
                                        "type":  "FactSet"
                                    },
                                    {
                                        "size":  "Large",
                                        "spacing":  "Large",
                                        "text":  "Respond:",
                                        "type":  "TextBlock",
                                        "weight":  "Bolder"
                                    },
                                    {
                                        "size":  "Small",
                                        "style":  "Person",
                                        "type":  "Image",
                                        "url":  "https://connectoricons-prod.azureedge.net/releases/v1.0.1391/1.0.1391.2130/azuresentinel/icon.png"
                                    },
                                    {
                                        "choices":  [
                                            {
                                                "title":  "Momenteel mee bezig/Wordt opgelost",
                                                "value":  "onderhoud"
                                            },
                                            {
                                                "title":  "Oude server - dient te vervangen worden",
                                                "value":  "oudeserver"
                                            },
                                            {
                                                "title":  "Nieuwe server - dient geinitialiseerd te worden",
                                                "value":  "nieuweserver"
                                            },
                                            {
                                                "title":  "Geen weet van onderhoud/updates",
                                                "value":  "geenweet"
                                            }
                                        ],
                                        "errorMessage":  "Geef een keuze in!",
                                        "id":  "onderhoudStatus",
                                        "isRequired":  true,
                                        "label":  "Is/ wordt er aan deze server gewerkt?",
                                        "type":  "Input.ChoiceSet",
                                        "value":  "onderhoud"
                                    }
                                ],
                                "type":  "AdaptiveCard",
                                "version":  "1.3"
                            }
                        },
                        "Condition_-_Check_onderhoud":  {
                            "actions":  {
                                "Update_incident":  {
                                    "runAfter":  {
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "body":  {
                                            "incidentArmId":  "@triggerBody()?['object']?['id']",
                                            "severity":  "Informational",
                                            "status":  "New"
                                        },
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method":  "put",
                                        "path":  "/Incidents"
                                    }
                                }
                            },
                            "runAfter":  {
                                "Reply_with_a_message_in_a_channel":  [
                                    "Succeeded"
                                ]
                            },
                            "else":  {
                                "actions":  {
                                    "Condition_-_check_oude_server":  {
                                        "actions":  {
                                            "For_each_-_task2":  {
                                                "foreach":  "@body('Run_query_and_list_results_2')?['value']",
                                                "actions":  {
                                                    "Add_task_to_incident":  {
                                                        "runAfter":  {
                                                        },
                                                        "type":  "ApiConnection",
                                                        "inputs":  {
                                                            "body":  {
                                                                "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                                "taskDescription":  "\u003cp\u003e@{items('For_each_-_task2')?['Description']}\u003c/p\u003e",
                                                                "taskTitle":  "@{items('For_each_-_task2')?['Title']}"
                                                            },
                                                            "host":  {
                                                                "connection":  {
                                                                    "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                }
                                                            },
                                                            "method":  "post",
                                                            "path":  "/Incidents/CreateTask"
                                                        }
                                                    }
                                                },
                                                "runAfter":  {
                                                    "Run_query_and_list_results_2":  [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type":  "Foreach"
                                            },
                                            "Run_query_and_list_results_2":  {
                                                "runAfter":  {
                                                },
                                                "type":  "ApiConnection",
                                                "inputs":  {
                                                    "body":  "_GetWatchlist('SocRA')\n| where SearchKey == \"@{body('Post_Adaptive_Card_and_wait_for_a_response')?['data']?['onderhoudStatus']}\"\n| project-away _DTItemId, LastUpdatedTimeUTC, SearchKey, Alert, Date\n| extend PackedIgnoreNullEmpty=pack_all(true)\n| mv-expand PackedIgnoreNullEmpty\n| extend Task = split(PackedIgnoreNullEmpty, '\"', 3)\n| extend Title = split(Task.[0], '^', 0)\n| extend Description = split(Task.[0], '^', 1)\n| project Title = Title.[0], Description = Description.[0]",
                                                    "host":  {
                                                        "connection":  {
                                                            "name":  "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                                        }
                                                    },
                                                    "method":  "post",
                                                    "path":  "/queryData",
                                                    "queries":  {
                                                        "resourcegroups":  "axeltest",
                                                        "resourcename":  "axelsentinel",
                                                        "resourcetype":  "Log Analytics Workspace",
                                                        "subscriptions":  "ca8ecf1f-c60f-4c3b-9aa8-238c5b6f5e20",
                                                        "timerange":  "@{utcNow()}"
                                                    }
                                                }
                                            }
                                        },
                                        "runAfter":  {
                                        },
                                        "else":  {
                                            "actions":  {
                                                "Condition_-_check_nieuwe_server":  {
                                                    "actions":  {
                                                        "For_each_-_task":  {
                                                            "foreach":  "@body('Run_query_and_list_results')?['value']",
                                                            "actions":  {
                                                                "Add_task_to_incident_4":  {
                                                                    "runAfter":  {
                                                                    },
                                                                    "type":  "ApiConnection",
                                                                    "inputs":  {
                                                                        "body":  {
                                                                            "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                                            "taskDescription":  "\u003cp\u003e@{items('For_each_-_task')?['Description']}\u003c/p\u003e",
                                                                            "taskTitle":  "@{items('For_each_-_task')?['Title']}"
                                                                        },
                                                                        "host":  {
                                                                            "connection":  {
                                                                                "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                            }
                                                                        },
                                                                        "method":  "post",
                                                                        "path":  "/Incidents/CreateTask"
                                                                    }
                                                                }
                                                            },
                                                            "runAfter":  {
                                                                "Run_query_and_list_results":  [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type":  "Foreach"
                                                        },
                                                        "Run_query_and_list_results":  {
                                                            "runAfter":  {
                                                            },
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "body":  "_GetWatchlist('SocRA')\n| where SearchKey == \"@{body('Post_Adaptive_Card_and_wait_for_a_response')?['data']?['onderhoudStatus']}\"\n| project-away _DTItemId, LastUpdatedTimeUTC, SearchKey, Alert, Date\n| extend PackedIgnoreNullEmpty=pack_all(true)\n| mv-expand PackedIgnoreNullEmpty\n| extend Task = split(PackedIgnoreNullEmpty, '\"', 3)\n| extend Title = split(Task.[0], '^', 0)\n| extend Description = split(Task.[0], '^', 1)\n| project Title = Title.[0], Description = Description.[0]",
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "post",
                                                                "path":  "/queryData",
                                                                "queries":  {
                                                                    "resourcegroups":  "axeltest",
                                                                    "resourcename":  "axelsentinel",
                                                                    "resourcetype":  "Log Analytics Workspace",
                                                                    "subscriptions":  "ca8ecf1f-c60f-4c3b-9aa8-238c5b6f5e20",
                                                                    "timerange":  "@{utcNow()}"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "runAfter":  {
                                                    },
                                                    "else":  {
                                                        "actions":  {
                                                            "Update_incident_-_Increase_severity_to_high":  {
                                                                "runAfter":  {
                                                                },
                                                                "type":  "ApiConnection",
                                                                "inputs":  {
                                                                    "body":  {
                                                                        "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                                        "severity":  "High"
                                                                    },
                                                                    "host":  {
                                                                        "connection":  {
                                                                            "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method":  "put",
                                                                    "path":  "/Incidents"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "expression":  {
                                                        "and":  [
                                                            {
                                                                "equals":  [
                                                                    "@body('Post_Adaptive_Card_and_wait_for_a_response')?['data']?['onderhoudStatus']",
                                                                    "nieuweserver"
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "type":  "If"
                                                }
                                            }
                                        },
                                        "expression":  {
                                            "and":  [
                                                {
                                                    "equals":  [
                                                        "@body('Post_Adaptive_Card_and_wait_for_a_response')?['data']?['onderhoudStatus']",
                                                        "oudeserver"
                                                    ]
                                                }
                                            ]
                                        },
                                        "type":  "If"
                                    }
                                }
                            },
                            "expression":  {
                                "and":  [
                                    {
                                        "equals":  [
                                            "@body('Post_Adaptive_Card_and_wait_for_a_response')?['data']?['onderhoudStatus']",
                                            "onderhoud"
                                        ]
                                    }
                                ]
                            },
                            "type":  "If"
                        },
                        "Entities_-_Get_Hosts":  {
                            "runAfter":  {
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/entities/host"
                            }
                        },
                        "Entities_-_Get_IPs":  {
                            "runAfter":  {
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/entities/ip"
                            }
                        },
                        "Post_adaptive_card_and_wait_for_a_response":  {
                            "runAfter":  {
                                "Compose_-_Adaptive_card_body":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnectionWebhook",
                            "inputs":  {
                                "body":  {
                                    "body":  {
                                        "messageBody":  "@{outputs('Compose_-_Adaptive_card_body')}",
                                        "recipient":  {
                                            "channelId":  "19%3ayko9QIsuMQOS5h275YqTLFfUmaNg0V2DYc1rJumlXtY1%40thread.tacv2",
                                            "groupId":  "c2e81161-b6b6-42ea-9e57-700a0573ed16"
                                        },
                                        "updateMessage":  "Thanks for your response!"
                                    },
                                    "notificationUrl":  "@{listCallbackUrl()}"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['teams_1']['connectionId']"
                                    }
                                },
                                "path":  "/v1.0/teams/conversation/gatherinput/poster/Flow bot/location/@{encodeURIComponent('Channel')}/$subscriptions"
                            }
                        },
                        "Reply_with_a_message_in_a_channel":  {
                            "runAfter":  {
                                "Add_comment_to_incident_(V3)_3":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "messageBody":  "\u003cp\u003e@{body('Post_Adaptive_Card_and_wait_for_a_response')?['responder']?['displayName']} - @{body('Post_Adaptive_Card_and_wait_for_a_response')?['responder']?['email']} antwoordde met:\u003cbr\u003e\n@{body('Post_Adaptive_Card_and_wait_for_a_response')?['data']?['onderhoudStatus']}\u003c/p\u003e",
                                    "parentMessageId":  "@{body('Post_Adaptive_Card_and_wait_for_a_response')?['messageId']}",
                                    "recipient":  {
                                        "channelId":  "19:yko9QIsuMQOS5h275YqTLFfUmaNg0V2DYc1rJumlXtY1@thread.tacv2",
                                        "groupId":  "c2e81161-b6b6-42ea-9e57-700a0573ed16"
                                    }
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['teams_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/v1.0/teams/conversation/replyWithMessage/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                            }
                        },
                        "Update_incident_-_Add_tags":  {
                            "runAfter":  {
                                "Condition_-_Check_onderhoud":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "incidentArmId":  "@triggerBody()?['object']?['id']",
                                    "tagsToAdd":  {
                                        "TagsToAdd":  [
                                            {
                                                "Tag":  "automated"
                                            },
                                            {
                                                "Tag":  "@{body('Post_Adaptive_Card_and_wait_for_a_response')?['data']?['onderhoudStatus']}"
                                            }
                                        ]
                                    }
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method":  "put",
                                "path":  "/Incidents"
                            }
                        }
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "azuremonitorlogs":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]",
                                "connectionName":  "[variables('AzuremonitorlogsConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
                            },
                            "azuresentinel":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName":  "[variables('MicrosoftSentinelConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                                "connectionProperties":  {
                                    "authentication":  {
                                        "type":  "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "teams_1":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]",
                                "connectionName":  "[variables('TeamsConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Teams')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "use case":  "1",
                "hidden-SentinelTemplateName":  "ESXI-Server",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('AzuremonitorlogsConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('AzuremonitorlogsConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('MicrosoftSentinelConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues":  {
                },
                "parameterValueType":  "Alternative",
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('TeamsConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('TeamsConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Teams')]"
                }
            }
        }
    ]
}
