Use case 5/OwnerPrompt-InvestigateEntity/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "OwnerPrompt-InvestigateEntity",
            "type": "string"
        }
    },
    "variables": {
        "AbuseipdbapiConnectionName": "abuseipdb-connection-AbuseIPDB-EnrichIncidentByIPInfo",
        "SentineltriageassistantConnectionName": "SentinelTriageAssistant",
        "AzureadConnectionName": "[concat('Azuread-', parameters('PlaybookName'))]",
        "AzuremonitorlogsConnectionName": "[concat('Azuremonitorlogs-', parameters('PlaybookName'))]",
        "MicrosoftSentinelConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
        "TeamsConnectionName": "[concat('Teams-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "properties": {
                "provisioningState": "Succeeded",
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Base_Module": {
                            "runAfter": {
                                "For_each_12": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "AddAccountComments": false,
                                    "AddIPComments": false,
                                    "Entities": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                    "IncidentARMId": "@triggerBody()?['object']?['id']",
                                    "WorkspaceId": "@triggerBody()?['workspaceId']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['SentinelTriageAssistant']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/workflows/6e68021fa52540d6975742339365ff09/triggers/manual/paths/invoke/func/base",
                                "queries": {
                                    "api-version": "2016-10-01",
                                    "sig": "oRIkZcdtOkQcUPEaTqPFeLlr_7bkILYWDf5voVpLKG8",
                                    "sp": "/triggers/manual/run",
                                    "sv": "1.0"
                                }
                            }
                        },
                        "Condition_-_account-beiden": {
                            "actions": {
                                "Condition_-_auditlogs": {
                                    "actions": {
                                        "Append_to_string_variable_-_accountstring_3": {
                                            "runAfter": {
                                                "For_each_11": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "AppendToStringVariable",
                                            "inputs": {
                                                "name": "accountstring",
                                                "value": "<span style=\\\"font-size: 16px\\\"><strong>Audit log links:</strong></span><br>@{variables('auditloglinks')}<br>"
                                            }
                                        },
                                        "For_each_11": {
                                            "foreach": "@variables('idsarray')",
                                            "actions": {
                                                "Append_to_string_variable_-_auditloglinks": {
                                                    "runAfter": {},
                                                    "type": "AppendToStringVariable",
                                                    "inputs": {
                                                        "name": "auditloglinks",
                                                        "value": "<a href=\"https://portal.azure.com/#view/Microsoft_AAD_UsersAndTenants/UserProfileMenuBlade/~/Audit/userId/@{items('For_each_11')?['userid']}/hidePreviewBanner~/true\">@{items('For_each_11')?['username']}</a><br>"
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "type": "Foreach"
                                        }
                                    },
                                    "runAfter": {
                                        "Condition_-_logins": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "contains": [
                                                    "@variables('acties')",
                                                    "auditlogs"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Condition_-_logins": {
                                    "actions": {
                                        "Append_to_string_variable_-_accountstring_2": {
                                            "runAfter": {
                                                "For_each_8": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "AppendToStringVariable",
                                            "inputs": {
                                                "name": "accountstring",
                                                "value": "<span style=\\\"font-size: 16px\\\"><strong>Laatste 20 log-ins:</strong></span><br>@{variables('logins')}<br>"
                                            }
                                        },
                                        "For_each_8": {
                                            "foreach": "@variables('idsarray')",
                                            "actions": {
                                                "Append_to_string_variable_-_logins": {
                                                    "runAfter": {
                                                        "Compose_6": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "AppendToStringVariable",
                                                    "inputs": {
                                                        "name": "logins",
                                                        "value": "<span style=\\\"font-size: 16px\\\"><strong>@{items('For_each_8')?['username']}:</strong></span>\n@{outputs('Compose_6')}\n"
                                                    }
                                                },
                                                "Compose_6": {
                                                    "runAfter": {
                                                        "Create_HTML_table_2": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Compose",
                                                    "inputs": "@body('Create_HTML_table_2')"
                                                },
                                                "Create_HTML_table_2": {
                                                    "runAfter": {
                                                        "Run_query_and_list_results": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Table",
                                                    "inputs": {
                                                        "format": "HTML",
                                                        "from": "@body('Run_query_and_list_results')?['value']"
                                                    }
                                                },
                                                "Run_query_and_list_results": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": "SigninLogs\n| where UserId == '@{items('For_each_8')?['userid']}'\n| extend Result = \n    case(\n        ResultType == 0, \"Success\",\n        ResultType == 50074, \"Interrupted\",\n        \"Failure\"\n    )\n| extend Locatie = strcat(parse_json(LocationDetails).city, \", \", parse_json(LocationDetails).countryOrRegion)\n| project TijdLokaal = format_datetime(datetime_utc_to_local(CreatedDateTime, 'Europe/Brussels'), 'dd-MM-yyyy HH:mm'), User = UserDisplayName, App = AppDisplayName, Result, Code = ResultType, IP = IPAddress, Locatie\n| sort by TijdLokaal\n| take 20",
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/queryData",
                                                        "queries": {
                                                            "resourcegroups": "axeltest",
                                                            "resourcename": "axelsentinel",
                                                            "resourcetype": "Log Analytics Workspace",
                                                            "subscriptions": "ca8ecf1f-c60f-4c3b-9aa8-238c5b6f5e20",
                                                            "timerange": "Last 7 days"
                                                        }
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "type": "Foreach"
                                        }
                                    },
                                    "runAfter": {
                                        "Condition_-_oof": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "contains": [
                                                    "@variables('acties')",
                                                    "logins"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Condition_-_oof": {
                                    "actions": {
                                        "Append_to_string_variable_-_accountstring": {
                                            "runAfter": {
                                                "Compose_9": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "AppendToStringVariable",
                                            "inputs": {
                                                "name": "accountstring",
                                                "value": "<span style=\\\"font-size: 16px\\\"><strong>OOF Statussen:</strong></span><br>@{outputs('Compose_9')}<br>"
                                            }
                                        },
                                        "Compose_9": {
                                            "runAfter": {
                                                "Create_HTML_table_5": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@body('Create_HTML_table_5')"
                                        },
                                        "Create_HTML_table_5": {
                                            "runAfter": {
                                                "Out_of_Office_Module": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Table",
                                            "inputs": {
                                                "columns": [
                                                    {
                                                        "header": "Account",
                                                        "value": "@item()?['UPN']"
                                                    },
                                                    {
                                                        "header": "Status",
                                                        "value": "@item()?['OOFStatus']"
                                                    }
                                                ],
                                                "format": "HTML",
                                                "from": "@body('Out_of_Office_Module')?['DetailedResults']"
                                            }
                                        },
                                        "Out_of_Office_Module": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "AddIncidentComments": false,
                                                    "BaseModuleBody": "@{body('Base_Module')}"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['SentinelTriageAssistant']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/workflows/6e68021fa52540d6975742339365ff09/triggers/manual/paths/invoke/func/oofmodule",
                                                "queries": {
                                                    "api-version": "2016-10-01",
                                                    "sig": "oRIkZcdtOkQcUPEaTqPFeLlr_7bkILYWDf5voVpLKG8",
                                                    "sp": "/triggers/manual/run",
                                                    "sv": "1.0"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "For_each_9": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "contains": [
                                                    "@variables('acties')",
                                                    "oof"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Condition_-_relatedaccount": {
                                    "actions": {
                                        "Compose_8": {
                                            "runAfter": {
                                                "Create_HTML_table_4": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@body('Create_HTML_table_4')"
                                        },
                                        "Condition_-_relatedaccount_leeg": {
                                            "actions": {
                                                "Append_to_string_variable_-_accountstring_5": {
                                                    "runAfter": {},
                                                    "type": "AppendToStringVariable",
                                                    "inputs": {
                                                        "name": "accountstring",
                                                        "value": "<span style=\\\"font-size: 16px\\\"><strong>Related alerts:</strong></span><br>Geen related alerts gevonden.<br>"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Compose_8": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "else": {
                                                "actions": {
                                                    "Append_to_string_variable_-_accountstring_4": {
                                                        "runAfter": {},
                                                        "type": "AppendToStringVariable",
                                                        "inputs": {
                                                            "name": "accountstring",
                                                            "value": "<span style=\\\"font-size: 16px\\\"><strong>Related alerts:</strong></span><br>@{outputs('Compose_8')}<br>"
                                                        }
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@body('Related_Alerts_Module')?['DetailedResults']",
                                                            true
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "Create_HTML_table_4": {
                                            "runAfter": {
                                                "Related_Alerts_Module": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Table",
                                            "inputs": {
                                                "columns": [
                                                    {
                                                        "header": "Tijd",
                                                        "value": "@convertTimeZone(item()?['StartTime'], 'UTC', 'Romance Standard Time', 'dd/MM/yyyy HH:mm:ss')"
                                                    },
                                                    {
                                                        "header": "Naam",
                                                        "value": "@item()?['DisplayName']"
                                                    },
                                                    {
                                                        "header": "Severity",
                                                        "value": "@item()?['AlertSeverity']"
                                                    },
                                                    {
                                                        "header": "ID",
                                                        "value": "@item()?['SystemAlertId']"
                                                    }
                                                ],
                                                "format": "HTML",
                                                "from": "@body('Related_Alerts_Module')?['DetailedResults']"
                                            }
                                        },
                                        "Related_Alerts_Module": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "AddIncidentComments": false,
                                                    "BaseModuleBody": "@{body('Base_Module')}",
                                                    "CheckHosts": false,
                                                    "CheckIPs": false,
                                                    "LookbackInDays": 7
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['SentinelTriageAssistant']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/workflows/6e68021fa52540d6975742339365ff09/triggers/manual/paths/invoke/func/relatedalerts",
                                                "queries": {
                                                    "api-version": "2016-10-01",
                                                    "sig": "oRIkZcdtOkQcUPEaTqPFeLlr_7bkILYWDf5voVpLKG8",
                                                    "sp": "/triggers/manual/run",
                                                    "sv": "1.0"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Condition_-_auditlogs": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "contains": [
                                                    "@variables('acties')",
                                                    "relatedaccount"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "For_each_9": {
                                    "foreach": "@variables('accountsarray')",
                                    "actions": {
                                        "Filter_array": {
                                            "runAfter": {},
                                            "type": "Query",
                                            "inputs": {
                                                "from": "@body('Parse_JSON')",
                                                "where": "@contains(item()['usermail'], items('For_each_9'))"
                                            }
                                        },
                                        "For_each_10": {
                                            "foreach": "@body('Filter_array')",
                                            "actions": {
                                                "Append_to_array_variable_-_idsarray": {
                                                    "runAfter": {},
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "idsarray",
                                                        "value": {
                                                            "userid": "@items('For_each_10')?['userid']",
                                                            "username": "@items('For_each_10')?['username']"
                                                        }
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Filter_array": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Parse_JSON": {
                                    "runAfter": {},
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@variables('MailEnIdEnName')",
                                        "schema": {
                                            "items": {
                                                "properties": {
                                                    "userid": {
                                                        "type": "string"
                                                    },
                                                    "usermail": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "userid",
                                                    "usermail"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    }
                                },
                                "Post_message_in_a_chat_or_channel_2": {
                                    "runAfter": {
                                        "Condition_-_relatedaccount": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "messageBody": "<p>@{variables('accountstring')}</p>",
                                            "recipient": "@triggerBody()?['object']?['properties']?['owner']?['email']"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['teams']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_-_accountstring": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "or": [
                                    {
                                        "equals": [
                                            "@variables('entity')",
                                            "account"
                                        ]
                                    },
                                    {
                                        "equals": [
                                            "@variables('entity')",
                                            "beiden"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Condition_-_check_empty_accounts": {
                            "actions": {
                                "Condition_-_check_empty_IPs": {
                                    "actions": {
                                        "Post_message_in_a_chat_or_channel": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "messageBody": "<p><span style=\"font-size: 16px\"><strong>Er zijn geen geschikte entities om te onderzoeken (account/IP adres)!</strong></span></p>",
                                                    "recipient": "@triggerBody()?['object']?['properties']?['owner']?['email']"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}"
                                            }
                                        },
                                        "Terminate": {
                                            "runAfter": {
                                                "Post_message_in_a_chat_or_channel": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Terminate",
                                            "inputs": {
                                                "runStatus": "Succeeded"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "else": {
                                        "actions": {
                                            "Append_to_string_variable_-_ipsKomma": {
                                                "runAfter": {
                                                    "For_each_2": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable",
                                                "inputs": {
                                                    "name": "ips",
                                                    "value": "@concat('//BEGIN', substring(variables('ipsKomma'),0,sub(length(variables('ipsKomma')),1)), '//EINDE')"
                                                }
                                            },
                                            "For_each_2": {
                                                "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                                                "actions": {
                                                    "Append_to_string_variable_-_ips": {
                                                        "runAfter": {},
                                                        "type": "AppendToStringVariable",
                                                        "inputs": {
                                                            "name": "ipsKomma",
                                                            "value": "{\"title\": \"@{items('For_each_2')?['Address']}\",\"value\" :\"@{items('For_each_2')?['Address']}\"},"
                                                        }
                                                    }
                                                },
                                                "runAfter": {
                                                    "Set_variable_-_ip": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Foreach"
                                            },
                                            "Set_variable_-_ip": {
                                                "runAfter": {},
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "entity",
                                                    "value": "ip"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@length(body('Entities_-_Get_IPs')?['IPs'])",
                                                    0
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_-_acties": [
                                    "Succeeded"
                                ],
                                "Initialize_variable_-_entity": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Condition_-_check_empty_IPs_2": {
                                        "actions": {
                                            "Append_to_string_variable_-_users": {
                                                "runAfter": {
                                                    "For_each": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable",
                                                "inputs": {
                                                    "name": "users",
                                                    "value": "@concat('//BEGIN', substring(variables('usersKomma'),0,sub(length(variables('usersKomma')),1)), '//EINDE')"
                                                }
                                            },
                                            "For_each": {
                                                "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
                                                "actions": {
                                                    "Append_to_array_variable_-_MailEnIdEnName": {
                                                        "runAfter": {
                                                            "Append_to_string_variable_-_usersKomma": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "AppendToArrayVariable",
                                                        "inputs": {
                                                            "name": "MailEnIdEnName",
                                                            "value": {
                                                                "userid": "@{body('Get_user')?['id']}",
                                                                "usermail": "@{body('Get_user')?['mail']}",
                                                                "username": "@{body('Get_user')?['displayName']}"
                                                            }
                                                        }
                                                    },
                                                    "Append_to_string_variable_-_usersKomma": {
                                                        "runAfter": {
                                                            "Get_user": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "AppendToStringVariable",
                                                        "inputs": {
                                                            "name": "usersKomma",
                                                            "value": "{\"title\": \"@{body('Get_user')?['displayName']}\",\"value\" :\"@{body('Get_user')?['mail']}\"},"
                                                        }
                                                    },
                                                    "Get_user": {
                                                        "runAfter": {},
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['azuread']['connectionId']"
                                                                }
                                                            },
                                                            "method": "get",
                                                            "path": "/v1.0/users/@{encodeURIComponent(items('For_each')?['AadUserId'])}"
                                                        }
                                                    }
                                                },
                                                "runAfter": {
                                                    "Set_variable_-_account": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Foreach"
                                            },
                                            "Set_variable_-_account": {
                                                "runAfter": {},
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "entity",
                                                    "value": "account"
                                                }
                                            }
                                        },
                                        "runAfter": {},
                                        "else": {
                                            "actions": {
                                                "Compose": {
                                                    "runAfter": {},
                                                    "type": "Compose",
                                                    "inputs": {
                                                        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                                                        "actions": [
                                                            {
                                                                "data": {
                                                                    "x": "confirm"
                                                                },
                                                                "title": "Submit response!",
                                                                "type": "Action.Submit"
                                                            }
                                                        ],
                                                        "body": [
                                                            {
                                                                "size": "Small",
                                                                "style": "Person",
                                                                "type": "Image",
                                                                "url": "https://connectoricons-prod.azureedge.net/releases/v1.0.1391/1.0.1391.2130/azuresentinel/icon.png"
                                                            },
                                                            {
                                                                "size": "Large",
                                                                "text": "Entities onderzoeken:",
                                                                "type": "TextBlock",
                                                                "wrap": true
                                                            },
                                                            {
                                                                "text": "[[Bekijk hier het incident]](@{triggerBody()?['object']?['properties']?['incidentUrl']})",
                                                                "type": "TextBlock",
                                                                "wrap": true
                                                            },
                                                            {
                                                                "choices": [
                                                                    {
                                                                        "title": "Accounts",
                                                                        "value": "account"
                                                                    },
                                                                    {
                                                                        "title": "IP adressen",
                                                                        "value": "ip"
                                                                    }
                                                                ],
                                                                "errorMessage": "Kies minstens 1 entity",
                                                                "id": "entities",
                                                                "isMultiSelect": true,
                                                                "isRequired": true,
                                                                "label": "Kies 1 of 2 entitysoorten om te onderzoeken.",
                                                                "style": "expanded",
                                                                "type": "Input.ChoiceSet"
                                                            }
                                                        ],
                                                        "type": "AdaptiveCard",
                                                        "version": "1.3"
                                                    }
                                                },
                                                "Post_adaptive_card_and_wait_for_a_response": {
                                                    "runAfter": {
                                                        "Compose": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnectionWebhook",
                                                    "inputs": {
                                                        "body": {
                                                            "body": {
                                                                "messageBody": "@{outputs('Compose')}",
                                                                "recipient": {
                                                                    "to": "@triggerBody()?['object']?['properties']?['owner']?['email']"
                                                                },
                                                                "updateMessage": "Thanks for your response!"
                                                            },
                                                            "notificationUrl": "@{listCallbackUrl()}"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['teams']['connectionId']"
                                                            }
                                                        },
                                                        "path": "/v1.0/teams/conversation/gatherinput/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}/$subscriptions"
                                                    }
                                                },
                                                "Switch": {
                                                    "runAfter": {
                                                        "Post_adaptive_card_and_wait_for_a_response": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "cases": {
                                                        "Case_-_account": {
                                                            "case": "account",
                                                            "actions": {
                                                                "Append_to_string_variable_-_users_2": {
                                                                    "runAfter": {
                                                                        "For_each_4": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "AppendToStringVariable",
                                                                    "inputs": {
                                                                        "name": "users",
                                                                        "value": "@concat('//BEGIN', substring(variables('usersKomma'),0,sub(length(variables('usersKomma')),1)), '//EINDE')"
                                                                    }
                                                                },
                                                                "For_each_4": {
                                                                    "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
                                                                    "actions": {
                                                                        "Append_to_array_variable_-_MailEnIdEnName_2": {
                                                                            "runAfter": {
                                                                                "Append_to_string_variable_usersKomma_2": [
                                                                                    "Succeeded"
                                                                                ]
                                                                            },
                                                                            "type": "AppendToArrayVariable",
                                                                            "inputs": {
                                                                                "name": "MailEnIdEnName",
                                                                                "value": {
                                                                                    "userid": "@{body('Get_user_2')?['id']}",
                                                                                    "usermail": "@{body('Get_user_2')?['mail']}",
                                                                                    "username": "@{body('Get_user_2')?['displayName']}"
                                                                                }
                                                                            }
                                                                        },
                                                                        "Append_to_string_variable_usersKomma_2": {
                                                                            "runAfter": {
                                                                                "Get_user_2": [
                                                                                    "Succeeded"
                                                                                ]
                                                                            },
                                                                            "type": "AppendToStringVariable",
                                                                            "inputs": {
                                                                                "name": "usersKomma",
                                                                                "value": "{\"title\": \"@{body('Get_user_2')?['displayName']}\",\"value\" :\"@{body('Get_user_2')?['mail']}\"},"
                                                                            }
                                                                        },
                                                                        "Get_user_2": {
                                                                            "runAfter": {},
                                                                            "type": "ApiConnection",
                                                                            "inputs": {
                                                                                "host": {
                                                                                    "connection": {
                                                                                        "name": "@parameters('$connections')['azuread']['connectionId']"
                                                                                    }
                                                                                },
                                                                                "method": "get",
                                                                                "path": "/v1.0/users/@{encodeURIComponent(items('For_each_4')?['AadUserId'])}"
                                                                            }
                                                                        }
                                                                    },
                                                                    "runAfter": {
                                                                        "Set_variable_-_account_2": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "Foreach"
                                                                },
                                                                "Set_variable_-_account_2": {
                                                                    "runAfter": {},
                                                                    "type": "SetVariable",
                                                                    "inputs": {
                                                                        "name": "entity",
                                                                        "value": "account"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "Case_-_ip": {
                                                            "case": "ip",
                                                            "actions": {
                                                                "Append_to_string_variable_ipsKomma_2": {
                                                                    "runAfter": {
                                                                        "For_each_3": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "AppendToStringVariable",
                                                                    "inputs": {
                                                                        "name": "ips",
                                                                        "value": "@concat('//BEGIN', substring(variables('ipsKomma'),0,sub(length(variables('ipsKomma')),1)), '//EINDE')"
                                                                    }
                                                                },
                                                                "For_each_3": {
                                                                    "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                                                                    "actions": {
                                                                        "Append_to_string_variable_-_ips_2": {
                                                                            "runAfter": {},
                                                                            "type": "AppendToStringVariable",
                                                                            "inputs": {
                                                                                "name": "ipsKomma",
                                                                                "value": "{\"title\": \"@{items('For_each_3')?['Address']}\",\"value\" :\"@{items('For_each_3')?['Address']}\"},"
                                                                            }
                                                                        }
                                                                    },
                                                                    "runAfter": {
                                                                        "Set_variable_-_ip_2": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "Foreach"
                                                                },
                                                                "Set_variable_-_ip_2": {
                                                                    "runAfter": {},
                                                                    "type": "SetVariable",
                                                                    "inputs": {
                                                                        "name": "entity",
                                                                        "value": "ip"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "default": {
                                                        "actions": {
                                                            "Append_to_string_variable_-_users_3": {
                                                                "runAfter": {
                                                                    "For_each_5": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "type": "AppendToStringVariable",
                                                                "inputs": {
                                                                    "name": "users",
                                                                    "value": "@concat('//BEGIN', substring(variables('usersKomma'),0,sub(length(variables('usersKomma')),1)), '//EINDE')"
                                                                }
                                                            },
                                                            "Append_to_string_variable_ipsKomma_3": {
                                                                "runAfter": {
                                                                    "For_each_6": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "type": "AppendToStringVariable",
                                                                "inputs": {
                                                                    "name": "ips",
                                                                    "value": "@concat('//BEGIN', substring(variables('ipsKomma'),0,sub(length(variables('ipsKomma')),1)), '//EINDE')"
                                                                }
                                                            },
                                                            "For_each_5": {
                                                                "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
                                                                "actions": {
                                                                    "Append_to_array_variable_-_MailEnIdEnName_3": {
                                                                        "runAfter": {
                                                                            "Append_to_string_variable_usersKomma_3": [
                                                                                "Succeeded"
                                                                            ]
                                                                        },
                                                                        "type": "AppendToArrayVariable",
                                                                        "inputs": {
                                                                            "name": "MailEnIdEnName",
                                                                            "value": {
                                                                                "userid": "@{body('Get_user_3')?['id']}",
                                                                                "usermail": "@{body('Get_user_3')?['mail']}",
                                                                                "username": "@{body('Get_user_3')?['displayName']}"
                                                                            }
                                                                        }
                                                                    },
                                                                    "Append_to_string_variable_usersKomma_3": {
                                                                        "runAfter": {
                                                                            "Get_user_3": [
                                                                                "Succeeded"
                                                                            ]
                                                                        },
                                                                        "type": "AppendToStringVariable",
                                                                        "inputs": {
                                                                            "name": "usersKomma",
                                                                            "value": "{\"title\": \"@{body('Get_user_3')?['displayName']}\",\"value\" :\"@{body('Get_user_3')?['mail']}\"},"
                                                                        }
                                                                    },
                                                                    "Get_user_3": {
                                                                        "runAfter": {},
                                                                        "type": "ApiConnection",
                                                                        "inputs": {
                                                                            "host": {
                                                                                "connection": {
                                                                                    "name": "@parameters('$connections')['azuread']['connectionId']"
                                                                                }
                                                                            },
                                                                            "method": "get",
                                                                            "path": "/v1.0/users/@{encodeURIComponent(items('For_each_5')?['AadUserId'])}"
                                                                        }
                                                                    }
                                                                },
                                                                "runAfter": {
                                                                    "Set_variable_-_beiden": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "type": "Foreach"
                                                            },
                                                            "For_each_6": {
                                                                "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                                                                "actions": {
                                                                    "Append_to_string_variable_-_ips_3": {
                                                                        "runAfter": {},
                                                                        "type": "AppendToStringVariable",
                                                                        "inputs": {
                                                                            "name": "ipsKomma",
                                                                            "value": "{\"title\": \"@{items('For_each_6')?['Address']}\",\"value\" :\"@{items('For_each_6')?['Address']}\"},"
                                                                        }
                                                                    }
                                                                },
                                                                "runAfter": {
                                                                    "Append_to_string_variable_-_users_3": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "type": "Foreach"
                                                            },
                                                            "Set_variable_-_beiden": {
                                                                "runAfter": {},
                                                                "type": "SetVariable",
                                                                "inputs": {
                                                                    "name": "entity",
                                                                    "value": "beiden"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "expression": "@Body('Post_adaptive_card_and_wait_for_a_response')?['data']?['entities']",
                                                    "type": "Switch"
                                                }
                                            }
                                        },
                                        "expression": {
                                            "and": [
                                                {
                                                    "equals": [
                                                        "@length(body('Entities_-_Get_IPs')?['IPs'])",
                                                        0
                                                    ]
                                                }
                                            ]
                                        },
                                        "type": "If"
                                    }
                                }
                            },
                            "expression": {
                                "or": [
                                    {
                                        "equals": [
                                            "@length(body('Entities_-_Get_Accounts')?['Accounts'])",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Condition_-_ip-beiden": {
                            "actions": {
                                "Condition_-_abuseipdb": {
                                    "actions": {
                                        "Append_to_string_variable_-_ipstring": {
                                            "runAfter": {
                                                "Compose_5": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "AppendToStringVariable",
                                            "inputs": {
                                                "name": "ipstring",
                                                "value": "@{outputs('Get_Logo')}<br><span style=\\\"font-size: 16px\\\"><strong>AbuseIPDB results:</strong></span><br>@{outputs('Compose_5')}<br>"
                                            }
                                        },
                                        "Compose_5": {
                                            "runAfter": {
                                                "Create_HTML_table": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@body('Create_HTML_table')"
                                        },
                                        "Create_HTML_table": {
                                            "runAfter": {
                                                "For_each_7": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Table",
                                            "inputs": {
                                                "format": "HTML",
                                                "from": "@variables('resultsarray')"
                                            }
                                        },
                                        "For_each_7": {
                                            "foreach": "@variables('ipsarray')",
                                            "actions": {
                                                "AbuseIPDB_CHECK_Endpoint": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['AbuseIPDBAPI']['connectionId']"
                                                            }
                                                        },
                                                        "method": "get",
                                                        "path": "/check",
                                                        "queries": {
                                                            "ipAddress": "@{items('For_each_7')}",
                                                            "maxAgeInDays": 7
                                                        }
                                                    }
                                                },
                                                "Append_to_array_variable_-_resultsarray": {
                                                    "runAfter": {
                                                        "AbuseIPDB_CHECK_Endpoint": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "resultsarray",
                                                        "value": {
                                                            "abuseConfidenceScore": "@body('AbuseIPDB_CHECK_Endpoint')?['data']?['abuseConfidenceScore']",
                                                            "hostnames": "@body('AbuseIPDB_CHECK_Endpoint')?['data']?['hostnames']",
                                                            "ipAddress": "@body('AbuseIPDB_CHECK_Endpoint')?['data']?['ipAddress']",
                                                            "isp": "@body('AbuseIPDB_CHECK_Endpoint')?['data']?['isp']",
                                                            "lastReportedAt": "@body('AbuseIPDB_CHECK_Endpoint')?['data']?['lastReportedAt']",
                                                            "totalReports": "@body('AbuseIPDB_CHECK_Endpoint')?['data']?['totalReports']"
                                                        }
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Get_Logo": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "Get_Logo": {
                                            "runAfter": {},
                                            "type": "Compose",
                                            "inputs": "<img src=\"https://www.abuseipdb.com/img/abuseipdb.png.pagespeed.ce.CI8T6WsXU7.png\"  width=\"152\" height=\"32\"> "
                                        }
                                    },
                                    "runAfter": {},
                                    "expression": {
                                        "and": [
                                            {
                                                "contains": [
                                                    "@variables('acties')",
                                                    "abuseipdb"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Condition_-_rdm": {
                                    "actions": {},
                                    "runAfter": {
                                        "Condition_-_relatedip": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "contains": [
                                                    "@variables('acties')",
                                                    "edr"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Condition_-_relatedip": {
                                    "actions": {
                                        "Compose_7": {
                                            "runAfter": {
                                                "Create_HTML_table_3": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@body('Create_HTML_table_3')"
                                        },
                                        "Condition_-_relatedip_leeg": {
                                            "actions": {
                                                "Append_to_string_variable_-_ipstring_3": {
                                                    "runAfter": {},
                                                    "type": "AppendToStringVariable",
                                                    "inputs": {
                                                        "name": "ipstring",
                                                        "value": "<span style=\\\"font-size: 16px\\\"><strong>Related alerts:</strong></span><br>Geen related alerts gevonden.<br>"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Compose_7": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "else": {
                                                "actions": {
                                                    "Append_to_string_variable_-_ipstring_2": {
                                                        "runAfter": {},
                                                        "type": "AppendToStringVariable",
                                                        "inputs": {
                                                            "name": "ipstring",
                                                            "value": "<span style=\\\"font-size: 16px\\\"><strong>Related alerts:</strong></span><br>@{outputs('Compose_7')}<br>"
                                                        }
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@body('Related_Alerts_Module_2')?['DetailedResults']",
                                                            true
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "Create_HTML_table_3": {
                                            "runAfter": {
                                                "Related_Alerts_Module_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Table",
                                            "inputs": {
                                                "columns": [
                                                    {
                                                        "header": "Tijd",
                                                        "value": "@convertTimeZone(item()?['StartTime'], 'UTC', 'Romance Standard Time', 'dd/MM/yyyy HH:mm:ss')"
                                                    },
                                                    {
                                                        "header": "Naam",
                                                        "value": "@item()?['DisplayName']"
                                                    },
                                                    {
                                                        "header": "Severity",
                                                        "value": "@item()?['AlertSeverity']"
                                                    },
                                                    {
                                                        "header": "ID",
                                                        "value": "@item()?['SystemAlertId']"
                                                    }
                                                ],
                                                "format": "HTML",
                                                "from": "@body('Related_Alerts_Module_2')?['DetailedResults']"
                                            }
                                        },
                                        "Related_Alerts_Module_2": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "AddIncidentComments": false,
                                                    "BaseModuleBody": "@{body('Base_Module')}",
                                                    "CheckAccounts": false,
                                                    "CheckHosts": false,
                                                    "LookbackInDays": 14
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['SentinelTriageAssistant']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/workflows/6e68021fa52540d6975742339365ff09/triggers/manual/paths/invoke/func/relatedalerts",
                                                "queries": {
                                                    "api-version": "2016-10-01",
                                                    "sig": "oRIkZcdtOkQcUPEaTqPFeLlr_7bkILYWDf5voVpLKG8",
                                                    "sp": "/triggers/manual/run",
                                                    "sv": "1.0"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Condition_-_threatintel": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "contains": [
                                                    "@variables('acties')",
                                                    "relatedip"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Condition_-_threatintel": {
                                    "actions": {
                                        "Compose_10": {
                                            "runAfter": {
                                                "Create_HTML_table_6": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@body('Create_HTML_table_6')"
                                        },
                                        "Condition_-_threatintel_leeg": {
                                            "actions": {
                                                "Append_to_string_variable_-_ipstring_4": {
                                                    "runAfter": {},
                                                    "type": "AppendToStringVariable",
                                                    "inputs": {
                                                        "name": "ipstring",
                                                        "value": "<span style=\\\"font-size: 16px\\\"><strong>Threat Intelligence:</strong></span><br>Geen TI gevonden.<br>"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Compose_10": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "else": {
                                                "actions": {
                                                    "Append_to_string_variable_-_ipstring_5": {
                                                        "runAfter": {},
                                                        "type": "AppendToStringVariable",
                                                        "inputs": {
                                                            "name": "ipstring",
                                                            "value": "<span style=\\\"font-size: 16px\\\"><strong>Threat Intelligence:</strong></span><br>@{outputs('Compose_10')}<br>"
                                                        }
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@empty(body('Threat_Intel_Module')?['DetailedResults'])",
                                                            true
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "Create_HTML_table_6": {
                                            "runAfter": {
                                                "Threat_Intel_Module": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Table",
                                            "inputs": {
                                                "format": "HTML",
                                                "from": "@body('Threat_Intel_Module')?['DetailedResults']"
                                            }
                                        },
                                        "Threat_Intel_Module": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "AddIncidentComments": false,
                                                    "BaseModuleBody": "@{body('Base_Module')}",
                                                    "CheckDomains": false,
                                                    "CheckFileHashes": false,
                                                    "CheckURLs": false
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['SentinelTriageAssistant']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/workflows/6e68021fa52540d6975742339365ff09/triggers/manual/paths/invoke/func/threatintel",
                                                "queries": {
                                                    "api-version": "2016-10-01",
                                                    "sig": "oRIkZcdtOkQcUPEaTqPFeLlr_7bkILYWDf5voVpLKG8",
                                                    "sp": "/triggers/manual/run",
                                                    "sv": "1.0"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Condition_-_abuseipdb": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "contains": [
                                                    "@variables('acties')",
                                                    "threatintel"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Post_message_in_a_chat_or_channel_3": {
                                    "runAfter": {
                                        "Condition_-_rdm": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "messageBody": "<p>@{variables('ipstring')}</p>",
                                            "recipient": "@triggerBody()?['object']?['properties']?['owner']?['email']"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['teams']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_-_ipstring": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "or": [
                                    {
                                        "equals": [
                                            "@variables('entity')",
                                            "ip"
                                        ]
                                    },
                                    {
                                        "equals": [
                                            "@variables('entity')",
                                            "beiden"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Entities_-_Get_Accounts": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/account"
                            }
                        },
                        "Entities_-_Get_IPs": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/ip"
                            }
                        },
                        "For_each_12": {
                            "foreach": "@variables('ipsarray')",
                            "actions": {
                                "Append_to_array_variable_-_statentities": {
                                    "runAfter": {},
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "statentities",
                                        "value": {
                                            "id": "x",
                                            "kind": "Ip",
                                            "name": "x",
                                            "properties": {
                                                "address": "@{items('For_each_12')}",
                                                "friendlyName": "@{items('For_each_12')}"
                                            },
                                            "type": "Microsoft.SecurityInsights/Entities"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_-_statentities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Initialize_variable_-_MailEnIdEnName": {
                            "runAfter": {
                                "Initialize_variable_-_accountsarray": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "MailEnIdEnName",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_accountsarray": {
                            "runAfter": {
                                "Initialize_variable_-_users": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "accountsarray",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_accountstring": {
                            "runAfter": {
                                "Initialize_variable_-_logins": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "accountstring",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_acties": {
                            "runAfter": {
                                "Initialize_variable_-_idsarray": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "acties",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_auditloglinks": {
                            "runAfter": {
                                "Base_Module": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "auditloglinks",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_entity": {
                            "runAfter": {
                                "Initialize_variable_-_MailEnIdEnName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "entity",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_idsarray": {
                            "runAfter": {
                                "Initialize_variable_-_ipsarray": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "idsarray",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_ips": {
                            "runAfter": {
                                "Initialize_variable_-_ipsKomma": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ips",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_ipsKomma": {
                            "runAfter": {
                                "Entities_-_Get_IPs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ipsKomma",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_ipsarray": {
                            "runAfter": {
                                "Initialize_variable_-_ips": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ipsarray",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_ipstring": {
                            "runAfter": {
                                "Initialize_variable_-_resultsarray": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ipstring",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_logins": {
                            "runAfter": {
                                "Initialize_variable_-_auditloglinks": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "logins",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_resultsarray": {
                            "runAfter": {
                                "Base_Module": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "resultsarray",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_statentities": {
                            "runAfter": {
                                "Switch_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "statentities",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_users": {
                            "runAfter": {
                                "Initialize_variable_-_usersKomma": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "users",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_usersKomma": {
                            "runAfter": {
                                "Entities_-_Get_Accounts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "usersKomma",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Switch_2": {
                            "runAfter": {
                                "Condition_-_check_empty_accounts": [
                                    "Succeeded"
                                ]
                            },
                            "cases": {
                                "Case_-_account": {
                                    "case": "account",
                                    "actions": {
                                        "Compose-account": {
                                            "runAfter": {
                                                "Compose_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@replace(replace(replace(string(outputs('Compose_2')),'\"//BEGIN', ''), '//EINDE\"', ''), '\\\"', '\"')"
                                        },
                                        "Compose_2": {
                                            "runAfter": {},
                                            "type": "Compose",
                                            "inputs": {
                                                "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                                                "actions": [
                                                    {
                                                        "data": {
                                                            "x": "confirm"
                                                        },
                                                        "title": "Submit response!",
                                                        "type": "Action.Submit"
                                                    }
                                                ],
                                                "body": [
                                                    {
                                                        "size": "Small",
                                                        "style": "Person",
                                                        "type": "Image",
                                                        "url": "https://connectoricons-prod.azureedge.net/releases/v1.0.1391/1.0.1391.2130/azuresentinel/icon.png"
                                                    },
                                                    {
                                                        "size": "Large",
                                                        "text": "Gebruiker onderzoeken:",
                                                        "type": "TextBlock",
                                                        "wrap": true
                                                    },
                                                    {
                                                        "text": "[[Bekijk hier het incident]](@{triggerBody()?['object']?['properties']?['incidentUrl']})",
                                                        "type": "TextBlock",
                                                        "wrap": true
                                                    },
                                                    {
                                                        "choices": [
                                                            "@variables('users')"
                                                        ],
                                                        "errorMessage": "Kies minstens 1 gebruiker",
                                                        "id": "accounts",
                                                        "isMultiSelect": true,
                                                        "isRequired": true,
                                                        "label": "Kies 1 of meerdere gebruikers om te onderzoeken.",
                                                        "type": "Input.ChoiceSet"
                                                    },
                                                    {
                                                        "choices": [
                                                            {
                                                                "title": "Out-Of-Office status checken",
                                                                "value": "oof"
                                                            },
                                                            {
                                                                "title": "Laatste 20 Log-ins",
                                                                "value": "logins"
                                                            },
                                                            {
                                                                "title": "Audit logs link genereren",
                                                                "value": "auditlogs"
                                                            },
                                                            {
                                                                "title": "Related alerts checken",
                                                                "value": "relatedaccount"
                                                            },
                                                            {
                                                                "title": "Entra ID user risk score info ophalen",
                                                                "value": "aadid"
                                                            },
                                                            {
                                                                "title": "Cloud Apps risks ophalen",
                                                                "value": "mcas"
                                                            }
                                                        ],
                                                        "errorMessage": "Kies een actie",
                                                        "id": "acties",
                                                        "isMultiSelect": true,
                                                        "isRequired": true,
                                                        "label": "Kies 1 of meerdere onderzoeksacties om te ondernemen",
                                                        "style": "expanded",
                                                        "type": "Input.ChoiceSet"
                                                    }
                                                ],
                                                "type": "AdaptiveCard",
                                                "version": "1.3"
                                            }
                                        },
                                        "Post_adaptive_card_and_wait_for_a_response_2": {
                                            "runAfter": {
                                                "Compose-account": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnectionWebhook",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "messageBody": "@{outputs('Compose-account')}",
                                                        "recipient": {
                                                            "to": "@triggerBody()?['object']?['properties']?['owner']?['email']"
                                                        },
                                                        "updateMessage": "Thanks for your response!"
                                                    },
                                                    "notificationUrl": "@{listCallbackUrl()}"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "path": "/v1.0/teams/conversation/gatherinput/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}/$subscriptions"
                                            }
                                        },
                                        "Set_variable_-_accountsarray": {
                                            "runAfter": {
                                                "Post_adaptive_card_and_wait_for_a_response_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "accountsarray",
                                                "value": "@split(string(body('Post_adaptive_card_and_wait_for_a_response_2')?['data']?['accounts']), ',')"
                                            }
                                        },
                                        "Set_variable_-_acties": {
                                            "runAfter": {
                                                "Set_variable_-_accountsarray": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "acties",
                                                "value": "@{body('Post_adaptive_card_and_wait_for_a_response_2')?['data']?['acties']}"
                                            }
                                        }
                                    }
                                },
                                "Case_-_ip": {
                                    "case": "ip",
                                    "actions": {
                                        "Compose-ip": {
                                            "runAfter": {
                                                "Compose_3": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@replace(replace(replace(string(outputs('Compose_3')),'\"//BEGIN', ''), '//EINDE\"', ''), '\\\"', '\"')"
                                        },
                                        "Compose_3": {
                                            "runAfter": {},
                                            "type": "Compose",
                                            "inputs": {
                                                "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                                                "actions": [
                                                    {
                                                        "data": {
                                                            "x": "confirm"
                                                        },
                                                        "title": "Submit response!",
                                                        "type": "Action.Submit"
                                                    }
                                                ],
                                                "body": [
                                                    {
                                                        "size": "Small",
                                                        "style": "Person",
                                                        "type": "Image",
                                                        "url": "https://connectoricons-prod.azureedge.net/releases/v1.0.1391/1.0.1391.2130/azuresentinel/icon.png"
                                                    },
                                                    {
                                                        "size": "Large",
                                                        "text": "IP adres onderzoeken:",
                                                        "type": "TextBlock",
                                                        "wrap": true
                                                    },
                                                    {
                                                        "text": "[[Bekijk hier het incident]](@{triggerBody()?['object']?['properties']?['incidentUrl']})",
                                                        "type": "TextBlock",
                                                        "wrap": true
                                                    },
                                                    {
                                                        "choices": [
                                                            "@variables('ips')"
                                                        ],
                                                        "errorMessage": "Kies minstens 1 IP",
                                                        "id": "ips",
                                                        "isMultiSelect": true,
                                                        "isRequired": true,
                                                        "label": "Kies 1 of meerdere IPs om te onderzoeken.",
                                                        "type": "Input.ChoiceSet"
                                                    },
                                                    {
                                                        "choices": [
                                                            {
                                                                "title": "Abuseipdb checken",
                                                                "value": "abuseipdb"
                                                            },
                                                            {
                                                                "title": "Threat Intelligence checken",
                                                                "value": "threatintel"
                                                            },
                                                            {
                                                                "title": "Related alerts checken",
                                                                "value": "relatedip"
                                                            },
                                                            {
                                                                "title": "RDM Info checken",
                                                                "value": "rdm"
                                                            }
                                                        ],
                                                        "errorMessage": "Kies een actie",
                                                        "id": "acties",
                                                        "isMultiSelect": true,
                                                        "isRequired": true,
                                                        "label": "Kies 1 of meerdere onderzoeksacties om te ondernemen",
                                                        "style": "expanded",
                                                        "type": "Input.ChoiceSet"
                                                    }
                                                ],
                                                "type": "AdaptiveCard",
                                                "version": "1.3"
                                            }
                                        },
                                        "Post_adaptive_card_and_wait_for_a_response_3": {
                                            "runAfter": {
                                                "Compose-ip": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnectionWebhook",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "messageBody": "@{outputs('Compose-ip')}",
                                                        "recipient": {
                                                            "to": "@triggerBody()?['object']?['properties']?['owner']?['email']"
                                                        },
                                                        "updateMessage": "Thanks for your response!"
                                                    },
                                                    "notificationUrl": "@{listCallbackUrl()}"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "path": "/v1.0/teams/conversation/gatherinput/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}/$subscriptions"
                                            }
                                        },
                                        "Set_variable_-_acties_2": {
                                            "runAfter": {
                                                "Set_variable_-_ipsarray": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "acties",
                                                "value": "@{body('Post_adaptive_card_and_wait_for_a_response_3')?['data']?['acties']}"
                                            }
                                        },
                                        "Set_variable_-_ipsarray": {
                                            "runAfter": {
                                                "Post_adaptive_card_and_wait_for_a_response_3": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "ipsarray",
                                                "value": "@split(string(body('Post_adaptive_card_and_wait_for_a_response_3')?['data']?['ips']), ',')"
                                            }
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {
                                    "Compose-beiden": {
                                        "runAfter": {
                                            "Compose_4": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Compose",
                                        "inputs": "@replace(replace(replace(string(outputs('Compose_4')),'\"//BEGIN', ''), '//EINDE\"', ''), '\\\"', '\"')"
                                    },
                                    "Compose_4": {
                                        "runAfter": {},
                                        "type": "Compose",
                                        "inputs": {
                                            "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                                            "actions": [
                                                {
                                                    "data": {
                                                        "x": "confirm"
                                                    },
                                                    "title": "Submit response!",
                                                    "type": "Action.Submit"
                                                }
                                            ],
                                            "body": [
                                                {
                                                    "size": "Small",
                                                    "style": "Person",
                                                    "type": "Image",
                                                    "url": "https://connectoricons-prod.azureedge.net/releases/v1.0.1391/1.0.1391.2130/azuresentinel/icon.png"
                                                },
                                                {
                                                    "size": "Large",
                                                    "text": "IP adres en gebruiker onderzoeken:",
                                                    "type": "TextBlock",
                                                    "wrap": true
                                                },
                                                {
                                                    "text": "[[Bekijk hier het incident]](@{triggerBody()?['object']?['properties']?['incidentUrl']})",
                                                    "type": "TextBlock",
                                                    "wrap": true
                                                },
                                                {
                                                    "choices": [
                                                        "@variables('ips')"
                                                    ],
                                                    "errorMessage": "Kies minstens 1 IP",
                                                    "id": "ips",
                                                    "isMultiSelect": true,
                                                    "isRequired": true,
                                                    "label": "Kies 1 of meerdere IPs om te onderzoeken.",
                                                    "type": "Input.ChoiceSet"
                                                },
                                                {
                                                    "choices": [
                                                        {
                                                            "title": "Abuseipdb checken",
                                                            "value": "abuseipdb"
                                                        },
                                                        {
                                                            "title": "Threat Intelligence checken",
                                                            "value": "threatintel"
                                                        },
                                                        {
                                                            "title": "Related alerts checken",
                                                            "value": "relatedip"
                                                        },
                                                        {
                                                            "title": "RDM Info checken",
                                                            "value": "rdm"
                                                        }
                                                    ],
                                                    "errorMessage": "Kies een actie",
                                                    "id": "ipactie",
                                                    "isMultiSelect": true,
                                                    "isRequired": true,
                                                    "label": "Kies 1 of meerdere onderzoeksacties om te ondernemen",
                                                    "style": "expanded",
                                                    "type": "Input.ChoiceSet"
                                                },
                                                {
                                                    "choices": [
                                                        "@variables('users')"
                                                    ],
                                                    "errorMessage": "Kies minstens 1 gebruiker",
                                                    "id": "accounts",
                                                    "isMultiSelect": true,
                                                    "isRequired": true,
                                                    "label": "Kies 1 of meerdere gebruikers om te onderzoeken.",
                                                    "separator": true,
                                                    "type": "Input.ChoiceSet"
                                                },
                                                {
                                                    "choices": [
                                                        {
                                                            "title": "Out-Of-Office status checken",
                                                            "value": "oof"
                                                        },
                                                        {
                                                            "title": "Laatste 20 Log-ins",
                                                            "value": "logins"
                                                        },
                                                        {
                                                            "title": "Audit logs link genereren",
                                                            "value": "auditlogs"
                                                        },
                                                        {
                                                            "title": "Related alerts checken",
                                                            "value": "relatedaccount"
                                                        },
                                                        {
                                                            "title": "Entra ID user risk score info ophalen",
                                                            "value": "aadid"
                                                        },
                                                        {
                                                            "title": "Cloud Apps risks ophalen",
                                                            "value": "mcas"
                                                        }
                                                    ],
                                                    "errorMessage": "Kies een actie",
                                                    "id": "gebruikeractie",
                                                    "isMultiSelect": true,
                                                    "isRequired": true,
                                                    "label": "Kies 1 of meerdere onderzoeksacties om te ondernemen",
                                                    "style": "expanded",
                                                    "type": "Input.ChoiceSet"
                                                }
                                            ],
                                            "type": "AdaptiveCard",
                                            "version": "1.3"
                                        }
                                    },
                                    "Post_adaptive_card_and_wait_for_a_response_4": {
                                        "runAfter": {
                                            "Compose-beiden": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "ApiConnectionWebhook",
                                        "inputs": {
                                            "body": {
                                                "body": {
                                                    "messageBody": "@{outputs('Compose-beiden')}",
                                                    "recipient": {
                                                        "to": "@triggerBody()?['object']?['properties']?['owner']?['email']"
                                                    },
                                                    "updateMessage": "Thanks for your response!"
                                                },
                                                "notificationUrl": "@{listCallbackUrl()}"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['teams']['connectionId']"
                                                }
                                            },
                                            "path": "/v1.0/teams/conversation/gatherinput/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}/$subscriptions"
                                        }
                                    },
                                    "Set_variable_-_accountsarray_2": {
                                        "runAfter": {
                                            "Set_variable_-_ipsarray_2": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "accountsarray",
                                            "value": "@split(string(body('Post_adaptive_card_and_wait_for_a_response_4')?['data']?['accounts']), ',')"
                                        }
                                    },
                                    "Set_variable_-_acties_3": {
                                        "runAfter": {
                                            "Set_variable_-_accountsarray_2": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "acties",
                                            "value": "@{body('Post_adaptive_card_and_wait_for_a_response_4')?['data']?['gebruikeractie']},@{body('Post_adaptive_card_and_wait_for_a_response_4')?['data']?['ipactie']}"
                                        }
                                    },
                                    "Set_variable_-_ipsarray_2": {
                                        "runAfter": {
                                            "Post_adaptive_card_and_wait_for_a_response_4": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "ipsarray",
                                            "value": "@split(string(body('Post_adaptive_card_and_wait_for_a_response_4')?['data']?['ips']), ',')"
                                        }
                                    }
                                }
                            },
                            "expression": "@variables('entity')",
                            "type": "Switch"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "AbuseIPDBAPI": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AbuseipdbapiConnectionName'))]",
                                "connectionName": "[variables('AbuseipdbapiConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/', variables('AbuseipdbapiConnectionName'))]"
                            },
                            "SentinelTriageAssistant": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('SentineltriageassistantConnectionName'))]",
                                "connectionName": "[variables('SentineltriageassistantConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/', variables('SentineltriageassistantConnectionName'))]"
                            },
                            "azuread": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureadConnectionName'))]",
                                "connectionName": "[variables('AzureadConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuread')]"
                            },
                            "azuremonitorlogs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]",
                                "connectionName": "[variables('AzuremonitorlogsConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName": "[variables('MicrosoftSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "teams": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]",
                                "connectionName": "[variables('TeamsConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Teams')]"
                            }
                        }
                    }
                }
            },
            "name": "[parameters('PlaybookName')]",
            "type": "Microsoft.Logic/workflows",
            "location": "[resourceGroup().location]",
            "tags": {
                "use case": "5"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "apiVersion": "2017-07-01",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureadConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureadConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('AzureadConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuread')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzuremonitorlogsConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('AzuremonitorlogsConnectionName')]",
                "customParameterValues": {},
                "parameterValueSet": {
                    "name": "managedIdentityAuth",
                    "values": {}
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('MicrosoftSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('TeamsConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('TeamsConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Teams')]"
                }
            }
        }
    ]
}